.bonus
    border-radius: 32px
    background:#EAFFD8
    padding: 80px 0
    &__title
        width: 622px
        color: #1F2227
        font-size: 40px
        font-style: normal
        font-weight: 700
        line-height: 120%
        margin-bottom: 24px
    &__subtitle
        width: 622px
        color: #1F2227
        font-size: 18px
        font-style: normal
        font-weight: 400
        line-height: 140%
        margin-bottom: 40px
    &__wrapper
        display: flex
        align-items: flex-start
        gap: 24px
        &-item
            width: 530px
            h3
                color: #1F2227
                font-size: 28px
                font-style: normal
                font-weight: 700
                line-height: 120%
                margin-bottom: 40px
            a
                display: inline-flex
                padding: 16px 32px
                justify-content: center
                align-items: center
                border-radius: 32px
                background:#1F2227
                color:#FFF
                text-align: center
                font-size: 20px
                font-style: normal
                font-weight: 500
                line-height: 24px
            ul
                margin-bottom: 40px
                li
                    display: flex
                    align-items: center
                    gap: 16px
                    margin-bottom: 30px
                    &:nth-of-type(1)
                        span
                            color: #FFF
                            background: #85C83E
                    span
                        min-width: 40px
                        min-height: 40px
                        color: #1F2227
                        text-align: center
                        font-size: 20px
                        font-style: normal
                        font-weight: 700
                        line-height: 120%
                        border: 2px solid #85C83E
                        border-radius: 50%
                        display: flex
                        align-items: center
                        justify-content: center
                    p
                        color: #1F2227
                        font-size: 18px
                        font-style: normal
                        font-weight: 400
                        line-height: 140%
.bonus
    .container
        padding: 0 80px