.container
    width: 100%
    max-width: 1240px
    margin: 0 auto
section
  padding-bottom: 80px
  animation-duration: 0.5s
body
  background-image: url(../img/bg_green_s.png)
  background-position: right top
  background-repeat: no-repeat
@media(max-width: 1199px)
    section
        padding-bottom: 40px
@media(max-width: 1023px)
  .container
    padding: 0 20px
@media(max-width: 767px)
  body
    background-image: none