.useFul
    &__block
        padding: 80px
        border-radius: 32px
        background: #EAFFD8
        &-title
            color: #1F2227
            font-size: 40px
            font-style: normal
            font-weight: 700
            line-height: 120%
            margin-bottom: 40px
        &-wrapper
            display: flex
            align-items: flex-start
            justify-content: space-between
    &__wrapper
        &-item
            width: 344px
            span
                display: inline-flex
                padding: 8px 12px
                justify-content: flex-end
                align-items: center
                gap: 10px
                border-radius: 30px
                border: 2px solid #85C83E
                color:#85C83E
                text-align: right
                font-size: 16px
                font-style: normal
                font-weight: 700
                line-height: 140%
                margin-bottom: 24px
            h4
                color: #1F2227
                font-size: 20px
                font-style: normal
                font-weight: 700
                line-height: 120%
                margin-bottom: 16px
            p
                color: #1F2227
                font-size: 16px
                font-style: normal
                font-weight: 400
                line-height: 140%
                margin-bottom: 24px
            a
                color:#85C83E
                font-size: 16px
                font-style: normal
                font-weight: 400
                line-height: 140%