.company
    &__title
        color:  #1F2227
        font-size: 40px
        font-style: normal
        font-weight: 700
        line-height: 120%
        margin-bottom: 10px
    &__wrapper
        overflow: hidden
        &-inner
            display: flex
            align-items: flex-start
    &__inner
        &-item
            display: flex
            width: 344px
            min-height: 388px
            height: 100%
            padding: 24px 32px
            flex-direction: column
            align-items: flex-start
            border-radius: 32px
            border: 1px solid #FFF
            background: linear-gradient(90deg, #FFF 0%, rgba(255, 255, 255, 0.00) 100%)
            box-shadow: 0px 12px 16px 0px rgba(19, 32, 17, 0.05)
            span
                color:#898F98
                font-size: 14px
                font-style: normal
                font-weight: 400
                line-height: 140%
                margin-bottom: 8px
            h4
                color: #85C83E
                font-size: 20px
                font-style: normal
                font-weight: 700
                line-height: 120%
                margin-bottom: 24px
            p:nth-of-type(1)
                color:#1F2227
                font-size: 18px
                font-style: normal
                font-weight: 400
                line-height: 140%
                margin-bottom: 16px
            p:nth-of-type(2)
                color: #1F2227
                font-size: 16px
                font-style: normal
                font-weight: 400
                line-height: 140%
                a
                    color: #85C83E
.company
    .container
        padding: 0 80px
@media(max-width: 1023px)
    .company
        .container
            padding: 0 20px
    .company__title
        font-size: 28px
    .company__wrapper-inner
        flex-direction: column
        gap: 24px
    .company__inner-item
        width: 100%
        padding: 32px 24px
        min-height: auto
    .company__inner-item span
        font-size: 12px
        margin-bottom: 4px
    .company__inner-item h4
        margin-bottom: 16px
    .company__inner-item p:nth-of-type(1)
        font-size: 16px
        margin-bottom: 8px